.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  min-height: 600px;
  height: fit-content;
  overflow-y: auto;
  box-shadow: 8px 8px 24px -3px rgba(66, 68, 90, 1);
}

.graph {
  width: 100%;
}

.top-right-legend {
  display: none;
}

.katex-display>.katex {
  white-space: normal
}

/* Add space between broken lines: */
.katex-display>.base {
  margin: 0.25em 0
}

/* Compensate by reducing space around display math */
.katex-display {
  margin: 0.5em 0;
}

.MuiPaper-root>* {
  display: flex;
  justify-content: center;
}