@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.main {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-weight: 400;
  margin-bottom: 30px;
  /*css reset*/
  width: 50%;
}

#warning {
  color: red;
}

.container {
  background-color: rgb(240, 240, 240);
  box-sizing: border-box;
  border-radius: 25px;
  margin: 50px 0 50px 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-width: 60vw;
  min-height: 600px;
  height: fit-content;
  overflow-y: auto;
  box-shadow: 8px 8px 24px -3px rgba(66, 68, 90, 1);
}

.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.header-wrapper>span,
.function-wrapper {
  border-radius: 25px;
  padding: 20px;
  /* border-radius: 65px; */
  background: #f0f0f0;
  box-shadow: 25px 25px 50px #d8d8d8, -25px -25px 50px #ffffff;
}

.css-ohwg9z {
  border-radius: 25px;
  padding: 20px;
  /* border-radius: 65px; */
  background: #f0f0f0;
  box-shadow: inset 15px 25px 10px #ededed, -25px -25px 50px #ffffff;
}

.input-section,
.graph-wrapper {
  display: flex;

}

.input-field {
  height: min-content;
  bottom: 0;
  margin-bottom: 0;
  align-self: center;
}

.function-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 30px 50px;
}

.css-1hskriy {
  /*MUI css for slider component*/
  margin: 5px 0px;
}

.function-container {
  display: flex;
  flex-direction: column;
}

.graph {
  box-sizing: content-box;
  width: 100%;
  /* margin: 20px; */
}

.css-1l7c0cy>div>div>div {
  display: flex;
  justify-content: center;
  width: auto;
}

.css-1l7c0cy>div>div>div>div {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MuiPaper-root>* {
  text-align: center;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  /* FIXING OPTICAL ILLUSIONS, I KNOW WHAT I'M DOING */
  transform: translate(0, -15px);
  font-size: 1.4vmin;
  font-weight: 100;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.top-right-legend {
  display: none;
}

.katex-display>.katex {
  white-space: normal;
}

/* Add space between broken lines: */
.katex-display>.base {
  margin: 0.25em 0;
}

/* Compensate by reducing space around display math */
.katex-display {
  margin: 0.5em 0;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .css-1l7c0cy {
  position: relative !important;
} */

/* .css-ohwg9z,
/* .css-ohwg9z>div, */
/* .css-ohwg9z>div>div,
.css-ohwg9z>div>div>div,
.css-ohwg9z>div>div>div>div,
.css-ohwg9z>div>div>div>div>div,
.css-ohwg9z>div>div>div>div>div>div,
.css-ohwg9z>div>div>div>div>div>div>div {
  height: fit-content;
} */

/* FIXING WEIRD DIV HEIGHTS GOD HELP ME */

/* .solutions,
.css-ohwg9z,
.css-1abc02a,
.css-1f8sh1y,
.css-1m9128y,
.css-1l7c0cy,
.css-1l7c0cy>div,
.css-1l7c0cy>div>div {
  height: fit-content !important;
} */